import React, { FC } from "react";

import styles from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {
  children?: any;
}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({...props}) => {
  return (
    <div className={styles.{{pascalCase name}} }>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};